<html>

<head>
    <title>Login page</title>
    <% include ../../partials/head %>
</head>

<body>
    <header>
        <% include ../../partials/header %>
    </header>

    <div class="slds-shrink-none">
        <div class="slds-page-header"><h2 class="slds-text-heading--medium">Login</h2></div>
    </div>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>

</html>