<html>

<head>
    <title>SDK - Create Data Extension</title>
    <% include ../../partials/head %>
</head>

<body>
    <!-- Header -->
    <header>
        <% include ../../partials/header %>
    </header>
    <!-- Title -->
    <div class="slds-shrink-none">
        <div class="slds-page-header">
            <h2 class="slds-text-heading--medium">Create Data Extension</h2>
        </div>
    </div>
    <!-- Body -->

    <!-- Footer -->
    <footer>
        <% include ../../partials/footer %>
    </footer>
    <!-- Scripts -->
    <script type="text/javascript">
    </script>
</body>

</html>