<html>

<head>
    <title>API - Getting Started</title>
    <% include ../../partials/head %>
</head>

<body>
    <header>
        <% include ../../partials/header %>
    </header>
    <!-- Header -->
    <div class="slds-shrink-none">
        <div class="slds-page-header">
            <h2 class="slds-text-heading--medium">Getting Started With Marketing Cloud API</h2>
        </div>
    </div>
    <!-- Body -->
    <div class="slds-box">
            <h3 class="slds-text-heading--medium slds-m-around_small slds-m-top_none">Official Documentation:</h3>
            <ul class="slds-list_dotted">
                <li>
                    <a target="_blank" class=".slds-text-link_faux"
                       href="https://developer.salesforce.com/docs/atlas.en-us.mc-apis.meta/mc-apis/index-api.htm">Intro to Marketing Cloud APIs</a>
                </li>
                <li>
                    <p><a target="_blank" class=".slds-text-link_faux"
                          href="https://developer.salesforce.com/docs/atlas.en-us.mc-sdks.meta/mc-sdks/index-sdk.htm">Introduction to SDKs</a></p>
                </li>
                <li>
                    <p><a target="_blank" class=".slds-text-link_faux"
                          href="https://developer.salesforce.com/docs/atlas.en-us.mc-getting-started.meta/mc-getting-started/get-api-key.htm">Get an API Key</a></p>
                </li>
                <li>
                    <p><a target="_blank" class=".slds-text-link_faux"
                          href="#">Link</a></p>
                </li>
            </ul>
            <h3 class="slds-text-heading--medium slds-m-around_small">Forums:</h3>
            <ul class="slds-list_dotted">
                <li>
                    <a target="_blank" class=".slds-text-link_faux"
                       href="#">Link</a>
                </li>
                <li>
                    <p><a target="_blank" class=".slds-text-link_faux" href="">Link</a></p>
                </li>
                <li>
                    <p><a target="_blank" class=".slds-text-link_faux" href="https://www.degdigital.com/insights/coding-with-salesforce-marketing-cloud-rest-api/">Coding With Salesforce Marketing Cloud Fuel REST API</a></p>
                </li>
            </ul>
            <h3 class="slds-text-heading--medium slds-m-around_small">Examples:</h3>
            <ul class="slds-list_dotted">
                <li>
                    <p><a target="_blank" class=".slds-text-link_faux"
                          href="https://github.com/salesforce-marketingcloud/postman">SFMC - Postman</a></p>
                </li>
                <li>
                    <p><a target="_blank" class=".slds-text-link_faux" href="https://developer.salesforce.com/docs/atlas.en-us.noversion.mc-apis.meta/mc-apis/java_code_samples.htm">Java Code Samples</a></p>
                </li>
                <li>
                    <p><a target="_blank" class=".slds-text-link_faux"
                          href="https://developer.salesforce.com/docs/atlas.en-us.noversion.mc-apis.meta/mc-apis/net_code_samples.htm">.NET Code Samples</a></p>
                </li>
            </ul>
        </div>
    <!-- Footer -->
    <footer>
        <% include ../../partials/footer %>
    </footer>
    <!-- Scripts -->
    <script type="text/javascript">
    </script>
</body>

</html>