<html>

<head>
    <title>SDK</title>
    <% include ../../partials/head %>
</head>

<body>
    <!-- Header -->
    <header>
        <% include ../../partials/header %>
    </header>
    <!-- Title -->
    <div class="slds-shrink-none">
        <div class="slds-page-header">
            <h2 class="slds-text-heading--medium">Marketing Cloud Java NodeJS 1.2.2 API Examples</h2>
        </div>
    </div>
    <!-- Body -->
    <div class="slds-box">
            <h3 class="slds-text-heading--medium slds-m-around_small slds-m-top_none">Data Extensions</h3>
            <ul class="slds-list_dotted">
                <li>
                    <a class=".slds-text-link_faux"
                       href="/api/sdk/de">Data extensions</a>
                </li>
                <li>
                    <p><a class=".slds-text-link_faux"
                          href="/api/sdk/de-create">Create Data Extension</a></p>
                </li>
                <li>
                    <p><a class=".slds-text-link_faux"
                          href="https://developer.salesforce.com/docs/atlas.en-us.mc-getting-started.meta/mc-getting-started/get-api-key.htm">Get an API Key</a></p>
                </li>
                <li>
                    <p><a class=".slds-text-link_faux"
                          href="#">Link</a></p>
                </li>
            </ul>
        </div>
    <!-- Footer -->
    <footer>
        <% include ../../partials/footer %>
    </footer>
    <!-- Scripts -->
    <script type="text/javascript">
    </script>
</body>

</html>